/* line 1, styles.scss */
.twitterWidget {
  border-color: #374567;
  border-width: 5px;
  border-style: solid;
  width: 30%;
}
/* line 6, styles.scss */
.twitterWidget .tweetHeader {
  background-color: #374567;
  padding: 15px;
}
/* line 9, styles.scss */
.twitterWidget .tweetHeader .proPic {
  float: left;
  margin-right: 5px;
}
/* line 13, styles.scss */
.twitterWidget .tweetHeader .name {
  display: block;
  font-size: 16pt;
  color: white;
}
/* line 18, styles.scss */
.twitterWidget .tweetHeader .screen_name {
  display: block;
  font-size: 7pt;
  color: white;
}
/* line 24, styles.scss */
.twitterWidget .tweet {
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  padding: 5px;
}
/* line 29, styles.scss */
.twitterWidget .tweet .tweetText {
  font-size: 9pt;
}
/* line 32, styles.scss */
.twitterWidget .tweet .twitterButton {
  padding-right: 5px;
  padding-left: 3px;
}
/* line 36, styles.scss */
.twitterWidget .tweet .tweetImage {
  width: 150px;
  height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}
