.twitterWidget {
    border-color: #374567;
    border-width: 5px;
    border-style: solid;
    width: 30%;
    .tweetHeader {
        background-color: #374567;
        padding: 15px;
        .proPic {
            float: left;
            margin-right: 5px;
        }
        .name {
            display: block;
            font-size: 16pt;
            color: white;
        }
        .screen_name {
            display: block;
            font-size: 7pt;
            color: white;
        }
    }
    .tweet {
        border-bottom-style: solid;
        border-bottom-color: gray;
        border-bottom-width: 1px;
        padding: 5px;
        .tweetText {
            font-size: 9pt;
        }
        .twitterButton {
            padding-right: 5px;
            padding-left: 3px;
        }
        .tweetImage {
            width: 150px;
            height: 150px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
